<div class="formwrapper">
  {{#if loggedIn}}
    <p>Logged in as {{username}}</p>
    <p>
      <a href="/users/profile/{{userId}}">Till profil</a>
    </p>
    {{error}}

    <form action="/kvittra" method="post">
      <input type="text" name="content" placeholder="Kvitter your feelings" />
      <input type="submit" value="kvittra" />
    </form>

    <h2>Posts</h2>
    {{#each kvitter}}
      <article>
        <p><a href="/kvittra/read-kvitter/{{_id}}">
            {{content}}
          </a>
        </p>
        <p>{{formatDate time}}</p>
        <p>Kvittrat by: {{writtenBy.username}}</p>
        <a href="/like/{{_id}}"><i class="bi bi-suit-heart"></i></a>
      </article>
    {{/each}}

    <form action="/users/log-out" method="post">
      <input type="submit" value="Logga ut" />
    </form>

  {{else}}
    {{error}}
    <form action="/users/login" method="post" autocomplete="off">
      <input type="text" name="username" id="" placeholder="Username" />
      <br />
      <input type="password" name="password" id="" placeholder="Password" />
      <br />
      <a href="/users/register-user"><button
          class="register-btn"
          type="button"
        >Register</button></a>
      <input type="submit" value="Login" id="btn-style" />
    </form>

    <div class="textwrapper"><a href="/users/forgot">Forgot your password?</a></div>
  {{/if}}
</div>