<div class="formwrapper">
        {{#if loggedIn}}
            <p>Logged in as
                <a href="/users/profile/{{userId}}">{{username}}{{displayName}}</a>
            </p>
            {{error}}

            <form action="/kvittra" method="post">
                <textarea name="content" cols="30" rows="10" placeholder="Kvitter your feelings..." style="resize: none" id="kvitterInput"></textarea>

                <div class="main-btn-container">
                <input type="submit" value="Kvitter" id="main-btn" />
                </div>
            </form>

            {{#each kvitter}}    
                <article>
                    <div class="authorContainer">
                        <p>{{writtenBy.username}}{{writtenBy.displayName}}</p>
                        <p>{{formatDate time}}</p>
                    </div>
                    <div class="profileContentContainer">
                    <div class="profilePicContainer">
                        <img
                            src="/assets/profile-pitcure.png"
                            alt="profile pic"
                        />
                    </div>
                    <div class="contentContainer">
                    <p>
                            {{content}}
                    </div>
                    </div>
                    </p>

                    <div class="logosContainer">
                        <a href="/like/{{_id}}"><i
                            class="bi bi-suit-heart"
                        ></i></a>
                        
                        <i class="bi bi-share"></i>
                        <i class="bi bi-chat"></i>
                        <a href="/kvittra/{{_id}}/edit">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a href="kvittra/{{_id}}/delete">
                            <i class="bi bi-trash3"></i>
                        </a>
                        
                    </div>
                </article>
            {{/each}}

            <form action="/users/log-out" method="post">
                <input type="submit" value="Logga ut" />
            </form>

        {{else}}
        <a href="/google">Login with Google</a>
            <form action="/users/login" method="post" autocomplete="off">
                <input
                    type="text"
                    name="username"
                    id=""
                    placeholder="Username"
                />
                <br />
                <input
                    type="password"
                    name="password"
                    id=""
                    placeholder="Password"
                />
                <br />
                <a href="/users/register-user"><button
                        class="register-btn"
                        type="button"
                    >Register</button></a>
                <input type="submit" value="Login" id="btn-style" />
            </form>
                    <div class="textwrapper"><a href="/users/forgot">Forgot your password?</a></div>
        {{/if}}

    </div>
