<h2>Profil sida</h2>

{{! Profilbild }}
<div>
  <img src="" alt="Profilbild" />
</div>

{{! Namn }}
<p>Användare: namn {{username}} </p>

{{! Bio }}
<div>
  {{! Before edit }}
  <textarea name="bio" cols="25" rows="6" readonly>
    Before edit text bio
  </textarea>

  {{! Edit tex bio }}
  {{!-- <form action="/profile/{{_id}}/redigera-bio" method="post">
    <textarea name="edit-bio" cols="30" rows="10">
      Edit text bio
      {{bio-text}}
    </textarea>
  </form> --}}
</div>

{{! Log out }}
<form action="/profile/{{_id}}/logga-ut" method="post">
  <input type="submit" value="Logga ut" />
</form>

{{! Ta bort användare }}
<form action="/profile/{{_id}}/ta-bort-profil" method="post">
  <input type="submit" value="Ta bort profil" />
</form>