<div class="formwrapper">

  <h2>Ändra profil</h2>

  <form action="/users/profile/edit/{{userId}} " method="post">
    <input
      type="text"
      name="username"
      placeholder="Username"
      value="{{username}}{{displayName}}"
    />
    <input type="text" name="slogan" placeholder="Slogan" value="{{slogan}}" />
    <input type="submit" value="Save" />
  </form>
  <a href="/users/profile/{{userId}}">←</a>

</div>