<div class="profilepage">
  <p>
    <a href="/">←</a>
  </p>

  <h2>Din profil</h2>

  {{! Profilbild }}
  <div class="user">
    <img src="/assets/profile-pitcure.png" alt="Profilbild" />

    {{! Namn }}
    <div>
      <p>Användare:</p>
      <p> {{username}}</p>
    </div>
  </div>

  {{! Slogan }}
  <div class="slogan">
    <p>Slogan:</p>
    {{#if user.slogan}}
      <p> {{user.slogan}} </p>
    {{else}}
      <p>Du har ingen slogan, klicka
        <a href="/users/profile/edit/{{userId}}">här</a>
        för att lägga till</p>
    {{/if}}
  </div>

  {{error}}

  {{! Favorites}}
  <div class="allFavorites">
    <p>Favoriter:</p>
    {{#if favorites}}
      {{#each favorites}}
        <div class="favorite">

          <h5 class="favoriteDescription">
            {{description}}
          </h5>
          <p>
            {{post.content}}
          </p>
          <p>Kvittrat av:
            {{user.username}}
            {{user.displayName}}
          </p>
          <a href="/favorites/edit/{{_id}}">Redigera</a>
          <br />
          <a href="/favorites/delete/{{_id}}">Ta bort</a>
        </div>
      {{else}}
        <p>Du har inte valt några favoriter</p>
      {{/each}}
    {{/if}}
    <a href="/favorites/{{userId}}">Lägg till favroriter</a>
  </div>

  {{! Change profile }}
  <p>
    <a href="/users/profile/edit/{{userId}}">Ändra profil</a>
  </p>

  {{! Log out }}
  <form action="/users/log-out" method="post">
    <input id="btn-style" type="submit" value="Logga ut " />
  </form>

  {{! Remove user }}
  <a href="/users/delete/{{userId}}">RADERA PROFIL</a>
</div>