<div class="profilepage">
  <p>
    <a href="/">←</a>
  </p>

  <h2>Din profil</h2>

  {{! Profilbild }}
  {{! Temporary styling }}
  <div class="user">
    <img src="/assets/profile-pitcure.png" alt="Profilbild" />

    {{! Namn }}
    <div>
      <p>Användare:</p>
      <p> {{username}} </p>
    </div>
  </div>

  {{! Slogan }}
  <div class="slogan">
    <p>Slogan:</p>
    <p>{{slogan}}</p>
  </div>
  {{!-- {{#if user}} --}}

  <ul>
    {{#each kvitterArray}}
      {{favorites.content}}
    {{/each}}
  </ul>

  <p>
    <a href="/users/profile/edit/{{userId}}">Ändra profil</a>
  </p>

  {{! Log out }}
  <form action="/users/log-out" method="post">
    <input id="btn-style" type="submit" value="Logga ut " />
  </form>

  {{! Remove user }}
  <form action="/users/profile/remove/{{userId}}" method="post">
    <input id="btn-style" type="submit" value="Ta bort profil" />
  </form>
</div>