<h2>Ändra profil</h2>

<<<<<<< HEAD
<form action="/users/profile/edit/{{userId}}{{googleId}}" method="post">
    <input
        type="text"
        name="username"
        placeholder="Username"
        value="{{username}}{{displayName}}"
    />
    <input type="text" name="slogan" placeholder="Slogan" value="{{slogan}}" />
    <input type="submit" value="Save" />

    <textarea name="" id="" cols="30" rows="10">{{content}}</textarea>
</form>

<p>
    <a href="/users/profile/{{userId}}{{googleId}}">Back</a>
=======
<form action="/users/profile/edit/{{userId}} " method="post">
  <input
    type="text"
    name="username"
    placeholder="Username"
    value="{{username}}{{displayName}}"
  />
  <input type="text" name="slogan" placeholder="Slogan" value="{{slogan}}" />
  <input type="submit" value="Save" />
</form>

<p>
  <a href="/users/profile/{{userId}}">Back</a>
>>>>>>> 08db2a74a120daf2e0271a113512dfe0f4517fcf
</p>