<h2>Profil sida</h2>

{{! Profilbild }}
{{! Temporary styling }}
<div>
  <img
    src="/assets/profile-pitcure.png"
    width="100px"
    height="100px"
    alt="Profilbild"
  />
</div>

{{! Namn }}
<p>Användare: {{username}} </p>

{{! Slogan }}
{{!-- <p>Some bio text {{slogan}}</p> --}}

{{! Slogan }}
<div>
  {{! Before edit }}
  <textarea
    name="bio"
    cols="24"
    rows="4"
    maxlength="30"
    placeholder="Your slogan"
    readonly
  >{{slogan}}</textarea>
</div>

{{!-- /users/{{_id}}/edit-bio" --}}
<p>
  <a href="/users/profile/edit">Edit profile</a>
</p>

{{! Log out }}
{{!-- /users/{{_id}}/log-out --}}
<form action="/users/log-out" method="post">
  <input type="submit" value="Log out" />
</form>

{{! Remove user }}
{{!-- /users/{{_id}}/remove --}}
<form action="/users/remove" method="post">
  <input type="submit" value="Remove profile" />
</form>