<div class="profilepage">
  <p>
    <a href="/">←</a>
  </p>

  <h2>Din profil</h2>

  {{! Profilbild }}
  <div class="user">
    <img src="/assets/profile-pitcure.png" alt="Profilbild" />

    {{! Namn }}
    <div>
      <p>Användare:</p>
      <p> {{username}} {{displayName}} </p>
    </div>
  </div>

  {{! Slogan }}
  <div class="slogan">
    <p>Slogan:</p>
    {{#if slogan}}
      <p> {{slogan}} </p>
    {{else}}
      <p>Du har ingen slogan, klicka
        <a href="/users/profile/edit/{{userId}}">här</a>
        för att lägga till</p>
    {{/if}}
  </div>
  {{!-- {{#if user}} --}}

  <div class="favorites">
    <h4>Mitt favoritkvitter:</h4>
    {{#each favorites}}
      <p>
        {{post.content}}
      </p><p>
        Kvittrat av:
        {{post.writtenBy.username}}
        {{post.writtenBy.displayName}}
      </p>
    {{/each}}
  </div>

  <p>
    <a href="/users/profile/edit/{{userId}}">Ändra profil</a>
  </p>

  {{! Log out }}
  <form action="/users/log-out" method="post">
    <input id="btn-style" type="submit" value="Logga ut " />
  </form>

  {{! Remove user }}
  <a href="/users/delete/{{userId}}">RADERA PROFIL</a>
</div>